@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Cairo;
}

nav {
  font-family: Cairo;
  z-index: 15 !important;
  
}

nav .navbar .navbar-brand img {
  width: 80%;
}

nav .navbar-nav .nav-item a.nav-link  {
  font-size: 16px;
  line-height: 48px;
  color: #e8e8e8;
  padding: 0px 16px;
  margin-right: 40px;
  transition: all 0.3s ease;
}

nav .nav-item a.nav-link:hover,
nav .nav-item a.nav-link.active  {
  background-color: #e8e8e8;
  color: #16aeca;
}
nav.navbar.noTranspparent {
  transition: all 0.5s 0.2s ease-in-out;
  background-color: #fff;
  border: 1px solid #eee;
}
nav.navbar.noTranspparent .nav-item a.nav-link {
  color: #16aeca;
}
nav.navbar.noTranspparent .nav-item a.nav-link:hover,
nav.navbar.noTranspparent  .nav-item a.nav-link.active  {
  background-color: #16aeca;
  color: #dae413;
}
nav.navbar.noTranspparent button.navbar-toggler {
  color: #16aeca;
}
header {
  background-image: url(../imgs/bg.jpg);
  background-size: cover;
  background-position: center;
}

header .overlay {
  background: linear-gradient(to right, rgba(45, 177, 181, 0.8), rgba(197,203,49));
  min-height: 100vh;
}


header .overlay .carousel-item {
  min-height: 100vh;
  position: relative;
  transition: all 0.5s ease;
}

header .overlay .carousel-item .carousel-contant {
  position: absolute;
  top: 40%;
  right: 10%;
  left: 10%;
  text-align: center;
  z-index: 10;

}


header .overlay .carousel-item .carousel-contant h2  {
  font-size: 35px;
  line-height: 53px;
  color: #ffffff;
  margin-bottom: 60px;
}

header .overlay .carousel-item .carousel-contant a {
  text-decoration: none;
  font-size: 18px;
  line-height: 48px;
  color: #ffffff;
  background-color: #16aeca;
  padding: 15px 40px;
  border-radius: 25px;
}


section.services {
  padding: 75px 0;
  height: 700px;
}

section.services .services-title h2 {
  margin-bottom: 54px;
  font-size: 40px;
  line-height: 22px;
  color: #070c0c;

}

section.services .card .card-img img {
  padding: 40px;
}


section.services .card .card-body h3 {
  font-size: 24px;
  line-height: 22px;
  color: #070c0c;
}

section.services .card .card-body p {
  font-size: 15px;
  line-height: 22px;
  color: #919191;
  padding: 20px 40px 0px;
  margin-bottom: 0;
  opacity: 0;
  transition: all 1s ease-in;
}



section.services .card {
  height: 325px;
  transition: all 0.8s ease-in-out;
}

section.services .card:hover {
  height: 414px;
}

section.services .card:hover .card-body p  {
  opacity: 1;
}

section.gallery .gallery-title h2 {
  font-size: 40px;
  line-height: 22px;
  color: #070c0c;
  margin-bottom: 60px;
}

section.gallery .gallery-work .gallery-link img  {
  width: 100%;
}
section.gallery .gallery-work a.gallery-link {
  position: relative;
  display: block;
}

section.gallery .gallery-work .gallery-link .gallery-hover {
  position: absolute;
  background-color: rgba(22, 173, 201, 0.9);
  width: 90%;
  height: 90%;
  top: 5%;
  right: 5%;
  transition: all 0.5s ease;
  opacity: 0;
  z-index: 5;
}
section.gallery .gallery-work a.gallery-link .gallery-hover i{
  position: absolute;
  bottom: 50%;
  right: 50%;
  transform: translateX(50%);
  font-size: 35px;
  color: #ffffff;
}

section.gallery .gallery-work a.gallery-link:hover .gallery-hover {
  opacity: 1;
}

section.gallery .gallery-overlay {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 30;
  position: fixed;
  top: 0;
  left: 0;
  padding: 5% 10%;
  opacity: 0;
  margin-top: -100vh;
  transition: all 1s ease;
}

section.gallery .gallery-overlay:target {
  opacity: 1;
  margin-top: 0;
}


section.gallery .gallery-work .gallery-overlay .overlay-img img {
  width: 100%;
  padding-left: 30px;
}

section.gallery .gallery-overlay .overlay-text {
  margin-top: 50px;
}

section.gallery .gallery-overlay .overlay-text h4 {
  font-size: 36px;
  line-height: 52px;
  margin-bottom: 30px;
  color: #16aeca;
}


section.gallery .gallery-overlay .overlay-text ul {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #efefef;
}

section.gallery .gallery-overlay .overlay-text li a {
  color: #555;
  text-decoration: none;
  font-family: sans-serif;
}

section.gallery .gallery-overlay .overlay-text p {
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 50px;
  color: #919191;
}


section.gallery .gallery-overlay .overlay-text a.btn {
  background-color: #16aeca;
  padding: 0 30px;
  font-size: 20px;
  line-height: 50px;
  color: #fff;
  border-radius: 20px;
}

section.gallery .gallery-overlay .overlay-text a.close {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 5%;
  left: 10%;
  font-weight: bold;
}


section.statistics {
  background-image: url(../imgs/bg-2.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
section.statistics .overlay {
  background-color: rgba(22, 173, 201, 0.8); 
  padding: 140px 0 100px;
}

section.statistics .overlay .count {
  font-size: 40px;
  line-height: 22px;
  color: #ddfaff;
  font-weight: bold;
  margin: 50px auto 30px;
}

section.statistics .overlay span.counter {
  font-size: 18px;
  line-height: 22px;
  color: #85ecff;
}


